@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,600');
.page-wrap{
	max-width: 1100px;
	padding: 0 15px;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
}
.id-table{
	border:1px solid #acacac;
	padding: 0;
	margin: 15px 0;
	border-collapse: collapse;
	background: url('../images/bg.png') no-repeat bottom center;
	background-size: contain;
}
.id-top .top-image img{
	width: 150px;
}
.top-content{
	text-align: center;
}
.top-content h2{
	font-size:30px;
	margin: 0;
	line-height: 1.5;
	font-weight: 600;
}
.top-content p{
	font-size:24px;
	margin: 0;
	line-height: 1.4;
	font-weight: 500;
}
.id-table img{
	max-width: 100%;
}
.id-table .main-image{
	max-width: 60%;
}
.id-table .student-image{
	border:1px solid #b2b2b2;
	padding: 5px;
	width:130px;
	height:150px;
	background: rgba(255,255,255,1);
}
.id-table .student-image img{
	width:100%;
	height:100%;
	object-fit:cover;
}
.id-table .logo-area{
	width:25%
}
.id-table .title-area{
	width:50%
}
.id-table .title{
	width:40%
}
.id-table .desc{
	width:60%
}
.id-table .table-row{
	border: 1px solid #b2b2b2;
}
.id-table .table-row .title{
	font-weight: 500;
}
.id-table .table-row .desc{
	font-weight: 400;
}
.center-table{
	margin: 0 auto;
	margin-bottom: 40px;
	background-image: none;
	background-color: rgba(255,255,255,0.9)
}